
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;   
}    
.btn{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 18px 35px;
    font-weight: bold;
    color: black;

}
header{
    background-color: burlywood;
    padding-top: 30px;
}
nav{
    width: 70%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 40px;
}
.color-orange{
    color: orangered;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}